/* -----------------------------
 * Window
 * ----------------------------- */
window {
    margin: 0px;

    background: rgba(24, 24, 37, 0.9); /* mantle glass */
    border: 1px solid rgba(205, 214, 244, 0.07);

    border-radius: 10px;

    font-family: "Iosevka NFM Medium";
    font-size: 12px;
}

/* -----------------------------
 * Input
 * ----------------------------- */
#input {
    margin: 6px;
    padding: 4px 8px;

    background: rgba(49, 50, 68, 0.4);
    color: #cdd6f4;

    border-radius: 8px;
    border: 1px solid rgba(205, 214, 244, 0.05);
}

#input image {
    color: #cdd6f4;
}

/* -----------------------------
 * Containers
 * ----------------------------- */
#inner-box,
#outer-box {
    margin: 6px;
    border: none;
    background: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

/* -----------------------------
 * Entries
 * ----------------------------- */
#entry {
    margin: 3px 6px;
    padding: 3px 8px;

    background: rgba(49, 50, 68, 0.3);
    border-radius: 8px;

    border: 1px solid rgba(205, 214, 244, 0.05);
}

/* Hover */
#entry:hover {
    background: rgba(69, 71, 90, 0.55);
}

/* Text */
#text {
    margin: 0;
    color: #cdd6f4;
}

/* -----------------------------
 * Selected
 * ----------------------------- */
#entry:selected {
    background: rgba(203, 166, 247, 0.25);
    border: 1px solid rgba(203, 166, 247, 0.4);
}

#text:selected {
    color: #cdd6f4;
}
