/* Catppuccin Colors Palette */
@define-color base #1e1e2e;
@define-color blue #89b4fa;
@define-color brightyellow #f9e2af;
@define-color green #a6e3a1;
@define-color lavender #b4befe;
@define-color overlay0 #6c7086;
@define-color red #f38ba8;
@define-color subtext1 #bac2de;
@define-color surface2 #585b70;
@define-color teal #94e2d5;
@define-color text #cdd6f4;
@define-color yellow #f9e2af;

* {
    font-family: "Iosevka NFM", "JetBrains Mono", monospace;
    border: none;
    /* background-color: @base; */
    /* border-radius: 8px; */
}

/* -----------------------------------------------------
 * Waybar
 * ----------------------------------------------------- */
window#waybar {
    background-color: rgba(0, 0, 0, 0.0);
    background: transparent;
    color: white;
}

window#waybar.empty #window {
    background-color: transparent;
}

/* Shared style block */
.common-block {
    background-color: @base;
    padding: 3px 6px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 8px;
    transition: color 0.2s ease, background-color 0.2s ease;
}

/* -----------------------------------------------------
 * Launcher
 * ----------------------------------------------------- */
#custom-launcher {
    background-color: @base;
    border-radius: 8px;
    color: @blue;
    font-family: "JetBrains Mono", monospace;
    font-size: 13px;
    font-weight: bold;
    padding: 3px 6px;
    transition: color 0.2s ease;
}

#custom-launcher:hover {
    color: @teal;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */
#workspaces {
    margin-left: 12px;
    background-color: @base;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
}

#workspaces button {
    color: @overlay0;
    transition: color 0.2s ease;
}

#workspaces button:not(:first-child) {
    margin-left: 2px;
}

#workspaces button.visible {
    color: @teal;
}

#workspaces button.active {
    color: @red;
}

#workspaces button:hover:not(.active):not(.visible),
#workspaces button:focus:not(.active):not(.visible) {
    color: @overlay0;
}

/* -----------------------------------------------------
 * Temperature
 * ----------------------------------------------------- */
#temperature.cpu {
    background-color: @base;
    color: @yellow;
    padding: 3px 6px;
    border-radius: 8px;
    margin-left: 12px;
    font-size: 13px;
    font-weight: bold;
}

#temperature.gpu {
    background-color: @base;
    color: @blue;
    padding: 3px 6px;
    border-radius: 8px;
    margin-left: 6px;
    font-size: 13px;
    font-weight: bold;
}

#temperature.critical {
    color: @red;
}

/* -----------------------------------------------------
 * Disk
 * ----------------------------------------------------- */
#disk {
    background-color: @base;
    padding: 3px 6px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 8px;
    color: @teal;
    transition: color 0.2s ease;
    margin-left: 12px;
}

/* -----------------------------------------------------
 * Window Title
 * ----------------------------------------------------- */
#window {
    background-color: @base;
    padding: 3px 6px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 8px;
    color: @text;
    transition: color 0.2s ease;
}

#window.empty {
    background: transparent;
}


/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */
#network {
    background-color: @base;
    padding: 3px 6px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 8px;
    color: @green;
    margin-right: 12px;
    transition: color 0.2s ease;
}

#network.disconnected {
    color: @red;
}

#network:hover {
    color: @teal;
}


/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */
#pulseaudio {
    background-color: @base;
    padding: 3px 6px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 8px;
    color: @lavender;
    margin-right: 12px;
    transition: color 0.2s ease;
}

#pulseaudio:hover {
    color: @blue;
}

/* -----------------------------------------------------
 * Date & time
 * ----------------------------------------------------- */
#clock {
    background-color: @base;
    padding: 3px 6px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 8px;
    color: @brightyellow;
    transition: color 0.2s ease;
}

#clock:hover {
    color: @teal;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */
#tray {
    background-color: @base;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    margin-left: 12px;
    padding: 3px 6px;
    color: @surface2;
}
